@import "../../Styles/scss/style";
.cabinet {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin-top: rem(20);
    &__container {
        position: relative;
        flex: 1 1 auto;
        display: grid;
        grid-template-columns: rem(250) 1fr;
        @media (max-width: $tablet) {
            grid-template-columns: 1fr;
            row-gap: rem(30);
        }
    }
    &__content {
        padding-left: rem(30);
        min-height: rem(500);
        @media (max-width: $tablet) {
            padding: 0 rem(10);
        }
    }
    &__title {
        text-align: center;
        display: block;
        margin-bottom: rem(30);
        &:not(:first-child) {
            margin-top: rem(30);
        }
    }
    &__text{
        & > p{
            line-height: 1.5;
            &:not(:last-child) {
                margin-bottom: rem(10);
            }
            & > em{
                font-style: italic;
                color: #2d2d2d;
            }
            & > strong {
                font-weight: 500;
            }
        }
    }
}
.sidebar-cabient {
    border-right: rem(1) solid #e9e9e9ad;
    padding-right: rem(10);
    @media (max-width: $tablet) {
        padding-right: 0;
        border-right: 0;
        border-bottom: rem(1) solid #e9e9e9ad;
        padding-bottom: rem(30);
    }
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: rem(5);
        & > li {
            &._profile {
                padding-bottom: rem(5);
                border-bottom: rem(1) solid #e9e9e9ad;
            }
        }
    }
    &__btn {
        padding: rem(12) rem(10);
        display: flex;
        align-items: center;
        column-gap: rem(10);
        width: 100%;
        border-radius: rem(5);
        font-weight: 500;
        font-size: rem(14);
        transition: all 0.2s ease;
        @media (any-hover: hover) {
            &:hover {
                background-color: #e9e9e969;
            }
        }
        &._active {
            background-color: #e9e9e9;
            transition: none;
        }
        &._disabled {
            pointer-events: none;
        }
        &._profile {
            padding: rem(8) rem(10);
            & .avatar {
                flex: 0 0 rem(30);
                width: rem(30);
                height: rem(30);
                font-size: rem(17.5);
            }
        }
    }
    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 0 0 rem(30);
        width: rem(25);
        height: rem(25);
        & svg {
            width: 100%;
            height: 100%;
        }
    }
}
.cabinet-modal {
    padding: rem(30) rem(50);
    @media (max-width: $mobileSmall) {
        padding: rem(30) rem(40);
    }
    &__title {
        font-size: rem(17);
        max-width: rem(300);
        line-height: 129.411765%; /* 22/17 */
        text-align: center;
        margin: 0 auto;
    }
    &__btns {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: rem(30);
        column-gap: rem(10);
        & .btn {
            border-radius: rem(10);
            width: auto;
            min-width: rem(150);
            @media (max-width: $mobileSmall) {
                min-width: rem(125);
            }
        }
    }
}
.settings-cabinet {
    &__warning {
        display: flex;
        align-items: center;
        column-gap: rem(5);
        color: #856404;
        background-color: #fff3cd;
        border: rem(3) solid #f1b813;
        padding: rem(10);
        margin-bottom: rem(30);
        & svg {
            color: #f1b813;
            width: rem(20);
            height: rem(20);
        }
        & p {
            & a {
                line-height: 1.1;
                text-decoration: underline;
                transition: color 0.2s ease;
                @media (any-hover: hover) {
                    &:hover {
                        color: #c59504;
                    }
                }
            }
        }
    }
    &__fields {
        display: grid;
        grid-gap: rem(20);
        @media (max-width: $tablet) {
            grid-template-columns: 1fr 1fr;
        }
        @media (max-width: $mobileSmall) {
            grid-template-columns: 1fr;
        }
        & .field {
            @media (min-width: em(992)) {
                display: grid;
                column-gap: rem(20);
                grid-template-columns: 1fr 1fr;
                align-items: center;
            }
            @media (max-width: $tablet) {
                &:nth-child(3) {
                    grid-column: span 2;
                }
                &:nth-child(4) {
                    grid-column: span 2;
                }
            }
            @media (max-width: $mobileSmall) {
                &:nth-child(3) {
                    grid-column: auto;
                }
                &:nth-child(4) {
                    grid-column: auto;
                }
            }
            &__invalid {
                @media (min-width: em(992)) {
                    grid-column: span 2;
                    justify-content: right;
                }
            }
        }
    }
    &__change {
        margin-top: rem(30);
        text-align: right;
        & button {
        }
    }
    &__submit {
        margin-top: rem(30);
        text-align: right;
    }
    &__btn {
        width: auto;
        min-width: rem(150);
        border-radius: rem(3);
    }
}
.history-orders {
    &__empty {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        max-width: rem(200);
        text-align: center;
        margin: 0 auto;
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: rem(50);
        row-gap: rem(30);
        &:not(:first-child) {
            margin-top: rem(50);
        }
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
        }
    }
    &__header {
        font-size: rem(17);
        font-weight: 500;
        border-bottom: 1px solid $accentColor;
        color: #333;
        background-color: #e9e9e973;
        position: relative;
        padding: 10px;
    }
    &__title {
        font-size: rem(17);
        font-weight: 500;
        &:not(:first-child) {
            margin-top: rem(30);
        }
    }
    &__list {
        display: flex;
        flex-direction: column;
        margin-top: rem(10);
        row-gap: rem(10);
        & > li {
            position: relative;
            padding-left: rem(10);
            margin-left: rem(5);
            font-size: rem(15);
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: rem(4);
                height: rem(4);
                border-radius: 50%;
                background-color: #000;
            }
        }
    }
    &__products {
        margin-top: rem(20);
        row-gap: rem(15);
        & li {
            & img {
                width: rem(50);
                height: rem(50);
            }
        }
    }
    & &__box {
        display: flex;
        align-items: center;
        column-gap: rem(10);
        padding-left: 0;
        margin-left: 0;
        &::before {
            display: none;
        }
        & span {
            max-width: rem(250);
        }
    }
    &__footer {
        display: flex;
        flex-direction: column;
        row-gap: rem(10);
        margin-top: rem(20);
        padding-top: rem(20);
        border-top: 1px solid #e9e9e9ad;
        & p {
            font-size: rem(17);
            font-weight: 500;
        }
    }
}
.dealership {
    &__subtitle {
        font-weight: 500;
        font-size: rem(17);
    }
    &__list {
        display: flex;
        flex-direction: column;
        margin-top: rem(15);
        row-gap: rem(10);
        & > li {
            &._unActivated{
                display: flex;
                align-items: center;
                line-height: rem(20);
                color: #856404;
                & a{
                    color: inherit;
                    text-decoration: underline;
                    margin-right: rem(5);
                    transition: all .2s ease;
                    @media (any-hover: hover){
                        &:hover{
                            color: #f1b813;                            
                        }
                    }
                }
            }
            & > svg{
                color: #f1b813;
                width: rem(20);
                height: rem(20);
                margin-right: rem(5);
            }
            & a{
                margin-left: rem(8);
                color: $accentColor;
                @media (any-hover: hover){
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    &__confirm{
        margin-top: rem(50);
        text-align: center;
    }
    &__btn{
        width: auto;
        min-width: rem(240);
    }
}
