@font-face {
	font-family: Rubik;
	src: url("../../../fonts/Rubik/Rubik-Regular.ttf") format("truetype");
	font-weight: 400;
}
@font-face {
	font-family: Rubik;
	src: url("../../../fonts/Rubik/Rubik-Italic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: Rubik;
	src: url("../../../fonts/Rubik/Rubik-Bold.ttf") format("truetype");
	font-weight: 700;
}
@font-face {
	font-family: Rubik;
	src: url("../../../fonts/Rubik/Rubik-BoldItalic.ttf") format("truetype");
	font-weight: 400;
	font-style: italic;
}
