[class*="__container"] {
	max-width: rem($maxWidthContainer + $containerPadding);
	width: 100%;
	box-sizing: border-box;
	margin: 0 auto;
	padding: 0 rem($containerPadding / 2);
}
/* Стили для отзывчивых картинок (IBG)*/
[class*="-ibg"] {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
[class*="-ibg_contain"] {
	img {
		object-fit: contain;
	}
}
.App {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	min-height: 100vh;
	overflow-x: hidden;
	.header-active & {
		padding-top: rem(70);
		@media (max-width: $mobile) {
			padding-top: rem(62);
		}
	}
}
main {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
}
.main__wrapper{
	// overflow-x: hidden;
}
.categories,
.productList {
	margin-top: rem(20);
}
footer {
	flex: 0 0 auto;
}
.no-scroll {
	overflow: hidden;
	height: 100vh;
}
.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: fixed;
	background-color: #fff;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	pointer-events: none;
	z-index: 999;
	&._transparent {
		overflow: auto;
		height: auto;
		min-height: 100%;
		background-color: #ffffff90;
	}
}
.menu__logo {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: rem(5);
}
.logo__img {
	width: rem(35);
	height: rem(35);
	object-fit: contain;
	@media (max-width: $mobile) {
		width: rem(30);
		height: rem(30);
	}
}
.logo__text {
	font-size: rem(14);
	text-align: center;
	font-weight: 700;
	color: $accentColor;
	@media (max-width: $mobile) {
		display: none;
	}
}
.all__categoties {
	padding: rem(9) rem(5);
	width: 100%;
	text-align: center;
	background-color: $accentColor;
	color: #fff;
	transition: all 0.2s ease;

	display: flex;
	align-items: center;
	justify-content: center;
	column-gap: rem(5);
	@media (any-hover: hover) {
		&:hover {
			background-color: $accentHover;
		}
	}
	& svg {
		width: rem(20);
		height: rem(20);
		color: #fff;
	}
}
.scroll-btn {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	right: rem(30);
	bottom: rem(30);
	transform: translateY(rem(10));
	opacity: 0;
	border-radius: 50%;
	transition: transform 0.3s ease, opacity 0.3s ease;
	background-color: #fff;
	z-index: 45;
	@media (max-width: em(1200)) {
		right: rem(10);
		bottom: rem(10);
	}
	&.active {
		opacity: 1;
		transform: translate(0);
	}
	& svg {
		font-size: rem(40);
		border-radius: 50%;
		color: $accentColor;
		box-shadow: 0 0 rem(5) $accentColor;
		transition: all 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accentHover;
			}
		}
	}
}
.btn__buy {
	color: #fff;
	background-color: $red;
	padding: rem(5);
	transition: all 0.2s ease;
	text-align: center;
	@media (any-hover: hover) {
		&:hover {
			background-color: $redHover;
		}
	}
}
.btn {
	display: inline-block;
	width: 100%;
	color: #fff;
	background-color: $accentColor;
	padding: rem(13);
	transition: all 0.2s ease;
	text-align: center;
	@media (any-hover: hover) {
		&:hover {
			background-color: $accentHover;
		}
	}
	&-transparent {
		background-color: transparent;
		color: #000;
		border: rem(1) solid #e9e9e9;
		@media (any-hover: hover) {
			&:hover {
				background-color: #e9e9e9;
			}
		}
	}
	&._disabled {
		opacity: 0.7;
		pointer-events: none;
	}
}
.title {
	width: fit-content;
	font-weight: 700;
	color: #161616;
	padding: 0 80px 15px 0;
	display: inline-block;
	@include adaptiveValue("font-size", 21, 17, 767, 320, 1);
	margin-bottom: rem(20);
	position: relative;
	&::before {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: rem(1);
		background-color: #b0b0b0;
		@media (max-width: $mobile) {
			width: 50%;
		}
	}
	&-secondary{
		padding: 0;
		width: auto;
		&::before{
			display: none;
		}
	}
}
.productList,
.productList__container,
.categories,
.categories__container {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}
.productList,
.categories {
	min-height: rem(550);
}
main > div > .categories,
main > div > .productList {
	min-height: auto;
}
.not-fond {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex: 1 1 auto;
	min-height: rem(550);
	&__title {
		font-size: rem(17);
		text-align: center;
		max-width: rem(300);
	}
}
.modal {
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	visibility: hidden;
	background: rgba(0, 0, 0, 0.387);
	backdrop-filter: blur(0.1rem);
	transition: 0.2s ease;
	&-isActive {
		opacity: 1;
		visibility: visible;
	}
	&__overlay {
		display: flex;
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top: 0;
		padding: 0;
		justify-content: center;
		align-items: center;
	}
	&__content {
		transform: scale(0.7);
		transition: all 0.2s ease;
		padding: rem(30);
		background-color: #fff;
	}
	&-isActive &__content {
		transform: scale(1);
	}
}
.field {
	display: flex;
	flex-direction: column;
	row-gap: rem(5);
	&__label {
		&._invalid {
			color: $red;
		}
	}
	&__input {
		border: rem(1) solid #e9e9e9;
		border-radius: rem(3);
		height: rem(40);
		padding: 0 rem(12);
		&:focus {
			border-color: $accentColor;
		}
		&._invalid {
			border-color: $red;
		}
	}
	&__invalid {
		display: flex;
		align-items: center;
		column-gap: rem(5);
		color: $red;
		& svg {
			width: rem(20);
			height: rem(20);
			color: $red;
		}
	}
}

.avatar {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: rem(35);
	height: rem(35);
	background: linear-gradient(to top, #09203f 0%, #537895 100%);
	color: #fff;
	border-radius: 50%;
	font-size: rem(23);
	font-style: normal;
	transition: all 0.2s ease;
	position: relative;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	line-height: rem(35);
	font-family: Arial, Helvetica, Rubik, sans-serif;
	@media (any-hover: hover) {
		&:hover {
			filter: brightness(1.1);
		}
	}
	& .warning{
		display: inline-block;
		position: absolute;
		left: rem(-10);
		top: rem(-5);
		display: flex;
		align-items: center;
		column-gap: rem(5);
		font-size: rem(12);
		& svg{
			color: #f1b813;
			width: rem(20);
			height: rem(20);
		}
	}

}
